# Dependencies
node_modules/

# Build output
dist/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/capacitor-cordova-android-plugins/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db
